<header class="header__default">
  <div>
    <h1>
      COMUNIDAD RUBY EN URUGUAY
    </h1>
    <img src="{{ "logo.svg" | image_asset | buster }}" aria-hidden="true" focuseable="false"/>
  </div>
  <div id="about">
    <div>
      <h2>Sé parte_</h2>
    </div>
    <div>
      {% for service in site.data.socials %}
        <a href="{{ service[1] }}" target="_blank">
          {{ service[0] }}<img src='/assets/images/arrow.svg' aria-hidden="true" focuseable="false"/>
        </a>
      {% endfor %}
    </div>
  </div>
</header>
