<header class="header__default">
  <div>
    <h1>
      COMUNIDAD RUBY EN URUGUAY
    </h1>
    <img src='/assets/images/logo.svg' aria-hidden="true" focuseable="false"/>
  </div>
  <div>
    <div>
      <h2>Sé parte_</h2>
    </div>
    <div>
      <ul>
        <li>
          <ul>
            <li>
              <a href="https://www.meetup.com/ruby-montevideo/" target="_blank">
                Meetup <img src='/assets/images/arrow.svg' aria-hidden="true" focuseable="false"/>
              </a>
            </li>
            <li>
              <a href="https://www.instagram.com/ruby_uruguay/" target="_blank">
                Instagram <img src='/assets/images/arrow.svg' aria-hidden="true" focuseable="false"/>
              </a>
            </li>
          </ul>
        </li>
        <li>
          <ul>
            <li>
              <a href="https://twitter.com/rubymontevideo" target="_blank">
                Twitter <img src="/assets/images/arrow.svg" aria-hidden="true" focuseable="false"/>
              </a>
            </li>
            <li>
              <a href="https://owu.slack.com/archives/C52L2AK8W" target="_blank">
                Slack <img src="/assets/images/arrow.svg" aria-hidden="true" focuseable="false"/>
              </a>
            </li>
            <li>
              <a href="https://github.com/rubyuy/ruby.uy" target="_blank">
                Github <img src="/assets/images/arrow.svg" aria-hidden="true" focuseable="false"/>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</header>
