<footer>
  <div id="contact">
    <h1>
      <a href="mailto:org@ruby.uy">org@ruby.uy</a>
    </h1>
    <p><a href="/charlas">Buscar charlas</a></p>
    <ul>
      <li>
        <a href="https://twitter.com/rubymontevideo" target="_blank" rel="noopener noreferrer"><img src="/assets/images/twitter.svg" width="32" height="32" alt="Twitter Icon"></a>
      </li>
      <li>
        <a href="https://github.com/rubyuy/ruby.uy" target="_blank" rel="noopener noreferrer"><img src="/assets/images/github.svg" width="32" height="32" alt="Github Icon"></a>
      </li>
      <li>
        <a href="https://www.instagram.com/ruby_uruguay/" target="_blank" rel="noopener noreferrer"><img src="/assets/images/instagram.svg" width="32" height="32" alt="Instagram Icon"></a>
      </li>
    </ul>
  </div>
  <div>
    <img src="/assets/images/thank_you.svg" width="420" height="160" aria-hidden="true">
  </div>
</footer>
