  <head>
    <title>Ruby UY</title>
    <meta charset='utf-8' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="view-transition" content="same-origin" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans&family=Syncopate:wght@700&display=swap" rel="stylesheet">

    <script async src="https://analytics.umami.is/script.js" data-website-id="209b35e2-b972-4bf5-8a88-09cedbc740f8" data-domains="ruby.uy"></script>
    <link rel="stylesheet" href="{{ "styles" | css_asset | buster }}">
  </head>
