<header>
  <div class='topBar'>
    <div class='blackStarBox'>
      <a href='/'><img src='/assets/images/blackstar.svg'/></a>
    </div>
    <div class='barTitle'>Ruby UY</div>
    <div class='barLinks'>
      <a href='#'>HOME</a>
      <a href='#about'>ABOUT</a>
      <a href='#contact'>CONTACT</a>
    </div>
    <div class='barMenu'>
      <a href='#' onclick="toggleBarLinks()"><img class='barBurger' src='/assets/images/menu.svg'/></a>
      <div class='barLinks'>
        <a href='#'>HOME</a>
        <a href='#about'>ABOUT</a>
        <a href='#contact'>CONTACT</a>
      </div>
    </div>
  <div>
</header>
