<section id="meetups">
  <header>
    <h1>EDICIONES PASADAS</h1>
    <p>Conocé el contenido de las ediciones pasadas.</p>
    <a href="/charlas" class="meetup-event__search-link">
      Buscar entre todas las charlas
      <img src="/assets/images/arrow.svg" aria-hidden="true">
    </a>
  </header>

  {% assign months_es = "ENE,FEB,MAR,ABR,MAY,JUN,JUL,AGO,SEP,OCT,NOV,DIC" | split: ',' %}
  {% assign meetups_sorted = site.meetups | sort: "date" | reverse %}

  {% assign meetups_by_year = meetups_sorted
        | group_by_exp: "m", "m.date | date: '%Y'"
        | sort: "name"
        | reverse %}

  {% for year in meetups_by_year | reverse %}
    <h2 class="meetup-event__date_year" id="meetups-{{ year.name }}">{{ year.name }}</h2>

    <ul>
      {% for meetup in year.items %}
        <li class="meetup-event">
          <a href="{{ meetup.url }}" class="meetup-event__link">
            <span class="meetup-event__date">
              {% assign m_idx = meetup.date | date: '%m' | minus: 1 %}{{ meetup.date | date: "%d" }} {{ months_es[m_idx] }}
            </span>
            <span class="meetup-event__company">
              {{ meetup.title }}
              <img src="/assets/images/arrow.svg" aria-hidden="true">
            </span>
          </a>
        </li>
      {%- endfor -%}
    </ul>
  {%- endfor -%}
</section>
