<nav>
  <ul>
    <li>
      <a href="/"><img src="/assets/images/blackstar.svg" alt="Logo" /></a>
    </li>
    <li>
      Ruby UY
    </li>
    <li>
      <a href="/">HOME</a>
    </li>
    <li>
      <a href="/#about">ABOUT</a>
    </li>
    <li>
      <a href="/#contact">CONTACT</a>
    </li>
    <li>
      <button onclick="toggleNavLinks()" aria-label="Open Menu">
        <img class="barBurger" src="/assets/images/menu.svg" alt="Open Menu Icon" aria-hidden="true" focusable="false" />
      </button>
    </li>
  </ul>
</nav>
