footer {
  border-top: 2px solid black;
  padding: 6rem 3rem;
  background-color: #F6EEEC;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 768px) {
    padding: 2rem 1rem;
    flex-direction: column;
    align-items: center;
  }

  a, a:active, a:hover, a:focus {
    color: #2E2E2E;
    text-decoration: none;
  }

  div {
    &:first-child {
      h1 {
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 3rem;
        text-align: center;

        &:hover {
          filter: drop-shadow(-0.5rem 0.5rem 0.5rem rgb(57, 126, 120));
        }

        @media (max-width: 768px) {
          font-size: 1.5rem;
        }
      }

      ul {
        display: flex;

        li {
          margin-right: 1rem;

          &:hover {
            filter: drop-shadow(-0.5rem 0.5rem 0.5rem rgb(57, 126, 120));
          }

          svg {
            @media (max-width: 768px) {
              transform: scale(0.9)
            }
          }
        }
      }
    }

    &:nth-child(2) {
      margin-left: 5rem;

      @media (max-width: 768px) {
        margin-left: 0;
      }

      img {
        @media (max-width: 768px) {
          transform: scale(0.8);
        }
      }
    }
  }
}
