#meetups {
  background-color: #F6EEEC;

  header {
    background-color: #3967D1;
    border: 0 solid black;
    border-width: 2px 0;
    color: white;
    padding: 2rem 3.5rem;

    @media (max-width: 425px) {
      padding: 2rem 1.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    h1 {
      color: #FFC24D;
      font-size: 2.5rem;
      font-weight: bold;
      margin-bottom: 0.8rem;

      @media (max-width: 425px) {
        font-size: 1.2rem;
        margin-bottom: 0;
      }
    }

    p {
      @media (max-width: 425px) {
        display: none;
      }
    }
  }

  ul {
    li {
      align-items: center;
      display: flex;
      padding: 1.5rem 8rem;

      @media (max-width: 425px) {
        padding: 1.5rem 1rem;
      }

      &:not(:last-child) {
        border-bottom: 1px solid #3967D1;
      }

      a {
        display: flex;
        font-weight: bold;
        justify-content: space-between;
        width: 100%;

        @media (max-width: 425px) {
          align-items: center;
          flex-direction: column;
        }


        &, &:active, &:visited, &:focus, &:hover {
          color: #3967D1;
          text-decoration: none;
        }

        .meetup-event__date {
          align-items: center;
          display: flex;
        }

        .meetup-event__company {
          align-items: center;
          display: flex;

          @media (max-width: 425px) {
            margin-top: 1rem;
          }
        }

        img {
          margin-left: 0.5rem;
          /* Hacky way to get the color from the white SVG. Tool used: https://angel-rs.github.io/css-color-filter-generator/ */
          filter: brightness(0) saturate(100%) invert(37%) sepia(91%) saturate(575%) hue-rotate(186deg) brightness(90%) contrast(95%);
        }
      }
    }
  }
}
