nav {
  ul {
    display: flex;
    height: 5rem;
    color: #2E2E2E;
    font-size: 1.5rem;
    font-family: 'Syncopate', sans-serif;
    border: 4px solid #2E2E2E;
    box-sizing: border-box;

    li {
      border-right: 4px solid #2E2E2E;
      height: 100%;
      justify-content: center;
      align-items: center;
      display: flex;
      background: #fff;
      box-sizing: border-box;

      &:first-child { flex: 3; background: #F6EEEC; }
      &:nth-child(2) { background: #F6EEEC; flex: 10; }
      &:nth-child(n+3):not(:last-child) { flex: 6 }
      &:nth-last-child(2) { border: 0; }
      &:last-child { display: none; }

      img {
        width: 35px;
      }

      a {
        color: inherit;
        text-decoration: none;
      }

      button {
        background: transparent;
        width: 100%;
        height: 100%;
        border: 0;
      }
    }

    @media (max-width: 712px) {
      li {
        &:nth-child(n+3):not(:last-child) {
          position: absolute;
          height: 4rem;
          width: 100%;
          border-left: 4px solid #2E2E2E;
          border-right: 4px solid #2E2E2E;
          left: 0;
          display: none;
        }

        &:nth-last-child(2) {
          border-bottom: 4px solid #2E2E2E;
        }

        &:last-child {
          display: flex;
          border: 0;
          flex: 2;
          background: #F6EEEC;
        }
      }

      @for $i from 3 through 5 {
        li:nth-child(#{$i}) {
          top: calc(5rem + if($i == 3, 5rem, 4rem) * ($i - 3));
        }
      }
    }
  }
}
