#sponsors-list {
  display: flex;
  overflow: hidden;

  ul {
    padding-left: 3rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    align-items: center;
    gap: 3rem;
    border-top: 2px solid black;
    background-color: #F6EEEC;

    &.infinite-horizontal-animation {
      animation: scroll-horizontal 20s linear infinite;

      @keyframes scroll-horizontal {
        0% {
          transform: translateX(0);
        }
        100% {
          transform: translateX(-100%);
        }
      }
    }

    li {
      img {
        max-width: 12rem;
        height: 2.5rem;
      }
    }
  }
}
