<!DOCTYPE html>
<html lang="es">
  {% include head.html %}

  <body>
    {% include nav.html %}

    <main>
      <article id="view-meetup">
          <section>
              <h2>Host</h2>
              <a href="{{ site.data.companies[page.host].url }}">{{ site.data.companies[page.host].name }}</a>
          </section>

          <section>
            <h2>Speakers</h2>
            <ul>
              {% for talk in page.talks %}
                {% for speaker in talk.speakers %}
                  <li>
                    {% if site.data.people[speaker].github %}
                      <a href="https://github.com/{{ site.data.people[speaker].github }}">
                        <img src="https://github.com/{{ site.data.people[speaker].github }}.png?size=30" alt="{{ site.data.people[speaker].name }}" style="border-radius: 50%; width: 30px"/>{{ site.data.people[speaker].name }}
                      </a>
                    {% else %}
                      {{ site.data.people[speaker].name }}
                    {% endif %}
                  </li>
                {% endfor %}
              {% endfor %}
            </ul>
          </section>

          <section>
            <h2>Charlas</h2>

            {% for talk in page.talks %}
              <div class="talk">
                {% assign speakers = "" | split: ',' %}

                {% for speaker in talk.speakers %}
                  {% assign speakers = speakers | push: site.data.people[speaker].name %}
                {% endfor %}

                <h3>
                  <span>{{ talk.title }}</span>
                  <p>{{ speakers | join: ", " }}</p>
                </h3>

                <p>{{ talk.description }}<p>

                <div class="keep-aspect-ratio">

                {% if talk.recording %}
                  <iframe src="{{ talk.recording }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
                  </iframe>
                {% endif %}

                {% if talk.slides %}
                  <iframe src="{{ talk.slides }}" frameborder="0" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true">
                  </iframe>
                {% endif %}

                </div>
              </div>
            {% endfor %}
          </section>
        <section> {{ content }} </section>
      </article>
    </main>
  </body>

  {% include footer.html %}
</html>
